.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 950px;
  height: 100px;
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.7);
  margin: 30px;
}
.header h2 {
  margin: 10px;
  font-size: 25px;
}
