.container {
  display: flex;
  background-color: aqua;
  width: 1000px;
  height: 800px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.table {
  width: 950px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.7);
  background-color: aliceblue;
  overflow-y: scroll;
  text-align: center;
  font-size: 15px;
  padding: 10px;
}

.table th {
  border: 1px solid black;
  border-radius: 10px;
}

.table td {
  border: 1px solid black;
}
.error{
  width: 1000px;
  height: 500px;
  color: red;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}